@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

#json-to-extraction-query {
  font-family: 'Roboto' !important;
  transition: 0.05s;
  height: 100%;

  & > div {
    height: 100%;
  }
  main {
    height: 100%;
    background-color: #f0f0f0;
  }
  .main-grid {
    height: 100%;
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    gap: 1rem;
  }
  .browser-container {
    grid-area: 1 / 1 / 3 / 2;
    overflow: auto;
    max-height: 100%;
    resize: horizontal;
    padding: 1rem 0 1rem 1rem;
  }
  .steps-container {
    grid-area: 1 / 2 / 3 / 3;
    position: relative;
    padding: 1rem 1rem;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
  .actions-menu {
    display: flex;
    gap: 15px;
    justify-content: space-between;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;

    &__right {
      display: flex;
      gap: 15px;
    }
  }
  .jsoneditor-field {
    cursor: pointer;
  }
  .steps-container {
    button {
      display: flex;
      align-items: flex-start;
      padding: 5px 15px;
      background: #f0f0f0;
      border-radius: 5px;
      border: none;
      outline: none;
      cursor: pointer;
      font-size: 12pt;

      &:hover {
        background: rgb(196, 196, 196);
      }

      &[disabled] {
        cursor: auto;

        &:hover {
          background: #f0f0f0;
        }
      }
    }
    .hidden {
      display: none;
    }
  }
}
