.chips {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  align-items: center;
}

.chipContainer {
  display: flex;
  align-items: center;
}

.contentContainer {
  min-height: 200px;
}

.addButton {
  background-color: #d1d1d1 !important;
  height: 37px;
  width: 37px;
  padding: 0 !important;
}

.addButton:hover {
  background: rgb(153, 153, 153);
}

.addButton > img {
  margin: auto;
  width: 15px;
}

.secondaryText {
  color: #565656;
  margin-top: 1rem;
}
